@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Add a Record!</h1>
  <p>Add to your collection here:</p>

  <form action="/collections" method="post">
    <label for="recordName">Record Name:</label>
    <input id="recordName" name="recordName" type="text">
    <button class="btn-success" type="submit">Add Record</button>
  </form>

  <a href="/"><button class="btn-warning">Back to Records</button></a>
</div>    