@{
  Layout = "_Layout";
}

<div class="container">
   @using Music.Models;

  <h3>Artist(s) on this Record</h3>

  <ol>
  @foreach (Artist artist in @Model["artists"])
  {
    <li><a href='/collections/@Model["collection"].Id/artists/@artist.Id'>@artist.ArtistName</a></li>
  }
  </ol>

  <a href='/collections/@Model["collection"].Id/artists/new'><button class="btn-success">Add a new Artist</button></a>
  <a href='/collections'><button class="btn-primary">Return to Record List</button></a>
</div>    