@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>Add a new Artist to @Model.Name</h1>
  </div>

  <form action="/collections/@Model.Id/artists" method="post">
    <input for="collectionId" name="collectionId" type="hidden" value="@Model.Id">
    <label for="artistName">Artist Name</label>
    <input id="artistName" name="artistName" type="text">
    <button class="btn-success" type="submit">Add Artist</button>
  </form>
</div>