@{
  Layout = "_Layout";
}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Artist Details</h1>
      </div>
      <h2>@Model["artist"].Name</h2>
      <h3>Record: @Model["collection"].Name</h3>

      <a href='/collections/@Model["collection"].Id/artists/new'><button class="btn-primary">Add a new Artist</button></a>
      <a href='/collections'><button class="btn-success">View All Records</button></a>
    </div>
  </body>
</html>