@{
  Layout = "_Layout";
}


<div class="container">
  <div class="jumbotron">
    <h1>Artist Details</h1>
  </div>
  <h2>@Model["artist"].ArtistName</h2>
  <h3>Record: @Model["collection"].Name</h3>

  <a href='/collections/@Model["collection"].Id/artists/new'><button class="btn-primary">Add a new Artist</button></a>
  <a href='/collections'><button class="btn-success">View All Records</button></a>
</div>