@{
  Layout = "_Layout";
}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to your Record Collection!</h1>
  </div>
  <br>
  <a href='/collections'><button class="btn-primary">View Records</button></a>
  <a href='/collections/new'><button class="btn-success">Add a new Record</button></a>

  <h2>Search for an Artist</h2>
  <form action="/collections/@Model.Id/artists/results" method="post">
    <label for="searchArtist">Search for an Artist here:</label>
    <input id="searchArtist" name="searchArtist" type="text">
  </form>
</div>
